openapi: 3.1.0
info:
  title: Mnemosyne API
  version: "1.0"
  description: |
    Canonical REST interface of Mnemosyne (see ADR-005). All endpoints are
    versioned under /api/v1. Admin endpoints live under /api/v1/admin and
    are never exposed through the future MCP adapter.

    Authentication: Laravel Sanctum (session cookie for the first-party UI,
    personal access tokens for API clients — send `Authorization: Bearer`).

    Identifiers: every resource is addressed by an opaque lowercase ULID
    (`id`), never by internal numeric ids.

    High-volume list endpoints use cursor pagination: pass `cursor` from
    `meta.next_cursor`; `per_page` caps at 100.
servers:
  - url: https://mnemosyne.shellrent.com/api

paths:
  /v1/health:
    get:
      summary: API liveness
      security: []
      responses:
        "200":
          description: Service is up
          content:
            application/json:
              example: { status: ok, service: mnemosyne-api, api_version: v1 }

  /v1/submissions:
    get:
      summary: List the authenticated user's submissions
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, maximum: 100, default: 25 } }
      responses:
        "200":
          description: Cursor-paginated submissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Submission" }
                  meta: { $ref: "#/components/schemas/CursorMeta" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
    post:
      summary: Submit an EPUB for ingestion
      description: |
        Multipart upload. The file is stored in a quarantine (incoming)
        area and enters the pipeline only after admin approval (or
        immediately when the auto-approval system setting is enabled).
        Rate limited per user (default 30/hour).
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [epub]
              properties:
                epub: { type: string, format: binary, description: ".epub file" }
                note: { type: string, maxLength: 2000 }
      responses:
        "201":
          description: Submission created (pending approval)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Submission" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { description: Rate limit exceeded }
        "507": { description: Insufficient storage (error.code INSUFFICIENT_STORAGE) }

  /v1/submissions/{id}:
    get:
      summary: Submission detail (owner or admin)
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200":
          description: Submission with latest run and asset
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Submission" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/admin/submissions:
    get:
      summary: "[admin] List all submissions"
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [pending_approval, approved, rejected, cancelled] } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, maximum: 100 } }
      responses:
        "200": { description: Cursor-paginated submissions }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/admin/submissions/{id}/approve:
    post:
      summary: "[admin] Approve a pending submission and queue ingestion"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200": { description: Approved; run queued }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/submissions/{id}/reject:
    post:
      summary: "[admin] Reject a pending submission"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 1000 }
      responses:
        "200": { description: Rejected }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/processing/overview:
    get:
      summary: "[admin] Real-time processing aggregates"
      responses:
        "200":
          description: Queue depths, stage distribution, counters
          content:
            application/json:
              example:
                data:
                  pending_approval: 2
                  runs: { queued: 1, running: 2, needs_review: 0, failed: 1, succeeded: 40, cancelled: 0 }
                  queue_depths: { normal: 1 }
                  stage_distribution: { parse: 2 }
                  oldest_queued_at: "2026-08-10T12:00:00Z"
                  ready_for_enrichment: 40
                  configured_concurrency: 2
                  pipeline_version: "1"

  /v1/admin/ingestion-runs:
    get:
      summary: "[admin] List ingestion runs"
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [queued, running, needs_review, failed, succeeded, cancelled] } }
        - { name: stage, in: query, schema: { type: string, enum: [hash, validate, parse, normalize, structure] } }
        - { name: priority, in: query, schema: { type: string, enum: [high, normal, low] } }
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        "200": { description: Cursor-paginated runs }

  /v1/admin/ingestion-runs/{id}:
    get:
      summary: "[admin] Run detail with attempts and event timeline"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200":
          description: Full run detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/IngestionRun" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/admin/ingestion-runs/{id}/retry:
    post:
      summary: "[admin] Retry a failed or needs-review run from its blocked stage"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200": { description: Run requeued from the failed stage }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/ingestion-runs/{id}/cancel:
    post:
      summary: "[admin] Request cooperative cancellation"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200": { description: Cancellation flagged; honored at the next stage boundary }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/ingestion-runs/{id}/priority:
    patch:
      summary: "[admin] Change run priority (applies from the next stage boundary)"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [priority]
              properties:
                priority: { type: string, enum: [high, normal, low] }
      responses:
        "200": { description: Priority updated and audited }
        "409": { $ref: "#/components/responses/Conflict" }

components:
  securitySchemes:
    sanctum:
      type: http
      scheme: bearer
      description: Sanctum personal access token (or first-party session cookie).

  parameters:
    ulid:
      name: id
      in: path
      required: true
      schema: { type: string, pattern: "^[0-9a-z]{26}$" }

  responses:
    Unauthenticated:
      description: Not authenticated
    Forbidden:
      description: Authenticated but not allowed (e.g. non-admin on /admin)
    NotFound:
      description: Unknown public id
    ValidationError:
      description: Invalid input (Laravel validation error body)
    Conflict:
      description: Domain state does not allow the transition
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            error:
              code: SUBMISSION_NOT_PENDING
              message: Only pending submissions can be approved.
              details: {}

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string, description: "Stable machine-readable code (e.g. RUN_NOT_RETRYABLE)" }
            message: { type: string }
            details: { type: object }

    CursorMeta:
      type: object
      properties:
        path: { type: string }
        per_page: { type: integer }
        next_cursor: { type: [string, "null"] }
        prev_cursor: { type: [string, "null"] }

    Submission:
      type: object
      properties:
        id: { type: string, description: ULID }
        original_filename: { type: string }
        status:
          type: string
          enum: [pending_approval, approved, queued, processing, needs_review, failed, completed, rejected, cancelled]
          description: Merged display status (approval lifecycle + latest run)
        approval_status:
          type: string
          enum: [pending_approval, approved, rejected, cancelled]
        source_type: { type: string, enum: [upload, filesystem] }
        priority: { type: string, enum: [high, normal, low] }
        note: { type: [string, "null"] }
        rejection_reason: { type: [string, "null"] }
        is_exact_duplicate: { type: boolean }
        created_at: { type: string, format: date-time }
        run:
          type: [object, "null"]
          properties:
            id: { type: string }
            status: { type: string, enum: [queued, running, needs_review, failed, succeeded, cancelled] }
            current_stage: { type: [string, "null"], enum: [hash, validate, parse, normalize, structure, null] }
            progress: { type: integer, minimum: 0, maximum: 100, description: "Ingestion progress only — not full analysis" }
            error_code: { type: [string, "null"] }
        asset:
          type: [object, "null"]
          properties:
            id: { type: string }
            sha256: { type: string }
            ingestion_status:
              type: string
              enum: [pending, processing, needs_review, failed, ready_for_enrichment]
            epub_version: { type: [string, "null"] }

    IngestionRun:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [queued, running, needs_review, failed, succeeded, cancelled] }
        current_stage: { type: [string, "null"] }
        priority: { type: string }
        progress: { type: integer }
        pipeline_version: { type: string }
        cancel_requested: { type: boolean }
        queued_at: { type: [string, "null"], format: date-time }
        started_at: { type: [string, "null"], format: date-time }
        finished_at: { type: [string, "null"], format: date-time }
        error_code: { type: [string, "null"] }
        error_message: { type: [string, "null"] }
        review_issues:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              severity: { type: string, enum: [hard_block, reviewable, warning] }
              message: { type: string }
              overrideable: { type: boolean, description: "Hard security blocks are never overrideable" }
        attempts:
          type: array
          items:
            type: object
            properties:
              stage: { type: string }
              attempt: { type: integer }
              status: { type: string }
              handler_version: { type: [string, "null"] }
              duration_ms: { type: [integer, "null"] }
              error_code: { type: [string, "null"] }
        events:
          type: array
          items:
            type: object
            properties:
              type: { type: string, description: "e.g. run.queued, stage.completed, run.needs_review" }
              payload: { type: [object, "null"] }
              created_at: { type: string, format: date-time }

security:
  - sanctum: []
