openapi: 3.1.0
info:
  title: Mnemosyne API
  version: "1.0"
  description: |
    Canonical REST interface of Mnemosyne (see ADR-005). All endpoints are
    versioned under /api/v1. Admin endpoints live under /api/v1/admin and
    are never exposed through the future MCP adapter.

    Authentication: Laravel Sanctum (session cookie for the first-party UI,
    personal access tokens for API clients — send `Authorization: Bearer`).

    Identifiers: every resource is addressed by an opaque lowercase ULID
    (`id`), never by internal numeric ids.

    High-volume list endpoints use cursor pagination: pass `cursor` from
    `meta.next_cursor`; `per_page` caps at 100.
servers:
  - url: https://mnemosyne.shellrent.com/api

paths:
  /v1/health:
    get:
      summary: API liveness
      security: []
      responses:
        "200":
          description: Service is up
          content:
            application/json:
              example: { status: ok, service: mnemosyne-api, api_version: v1 }

  /v1/submissions:
    get:
      summary: List the authenticated user's submissions
      parameters:
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, maximum: 100, default: 25 } }
      responses:
        "200":
          description: Cursor-paginated submissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Submission" }
                  meta: { $ref: "#/components/schemas/CursorMeta" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
    post:
      summary: Submit an EPUB for ingestion
      description: |
        Multipart upload. The file is stored in a quarantine (incoming)
        area and enters the pipeline only after admin approval (or
        immediately when the auto-approval system setting is enabled).
        Rate limited per user (default 30/hour).
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [epub]
              properties:
                epub: { type: string, format: binary, description: ".epub file" }
                note: { type: string, maxLength: 2000 }
      responses:
        "201":
          description: Submission created (pending approval)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Submission" }
        "401": { $ref: "#/components/responses/Unauthenticated" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { description: Rate limit exceeded }
        "507": { description: Insufficient storage (error.code INSUFFICIENT_STORAGE) }

  /v1/submissions/{id}:
    get:
      summary: Submission detail (owner or admin)
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200":
          description: Submission with latest run and asset
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Submission" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/retrieval/search:
    post:
      summary: Ranked evidence retrieval with exact source provenance
      description: |
        Searches the ACTIVE retrieval generation across the caller's
        authorized books (server-side ACL; requesting any inaccessible or
        unknown asset id fails closed with 403 and no oracle). Modes:
        `exact` (literal, offset-exact), `lexical` (multilingual FTS),
        `dense` (semantic), `hybrid` (weighted reciprocal-rank fusion +
        optional local cross-encoder reranking). Returns evidence, never
        generated answers. Rate limited (30/min per user).

        Authentication: first-party browser sessions (Sanctum stateful
        SPA — session cookie + `X-XSRF-TOKEN`) or a Sanctum bearer token.

        Exact mode accepts literals up to 200 characters: that is the
        boundary guarantee (a phrase straddling a chunk partition is
        findable only while its pre-boundary portion fits the chunker
        overlap). Longer queries in exact mode return 422
        `EXACT_QUERY_TOO_LONG`; in hybrid mode the exact component is
        skipped and `meta.exact_skipped_reason` says so.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string, minLength: 1, maxLength: 1000, description: "exact mode: max 200 chars (boundary guarantee)" }
                mode: { type: string, enum: [exact, lexical, dense, hybrid], default: hybrid }
                scope:
                  type: object
                  properties:
                    book_asset_ids:
                      type: array
                      maxItems: 100
                      items: { type: string, pattern: "^[0-9a-z]{26}$" }
                top_k: { type: integer, minimum: 1, maximum: 25, default: 10 }
                rerank: { type: boolean, default: false, description: "opt-in local cross-encoder reranking (~seconds on CPU); on timeout/failure the fused order is returned with meta.reranker_used=false and meta.reranker_fallback_reason" }
                case_sensitive: { type: boolean, default: false, description: exact mode only }
                debug: { type: boolean, default: false, description: score provenance + timings; honored for admins only }
      responses:
        "200":
          description: Ranked evidence
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RetrievalResult" }
                  meta:
                    type: object
                    properties:
                      generation: { type: string, description: retrieval generation ULID the query executed against }
                      mode: { type: string }
                      skipped_assets:
                        type: array
                        description: authorized books NOT indexed in the active generation (never silently partial)
                        items: { type: string }
                      reranker_used: { type: boolean }
                      reranker_fallback_reason: { type: [string, "null"], enum: [worker_unavailable, reranker_error, null] }
                      dense_unavailable: { type: boolean, description: hybrid degraded — dense component was down }
                      timings_ms: { type: object, description: per-stage wall times (admin debug only) }
        "403": { description: "error.code SCOPE_NOT_ACCESSIBLE — scope includes an inaccessible/unknown book" }
        "409": { description: "error.code NO_ACTIVE_GENERATION" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "429": { description: Rate limit exceeded }

  /v1/retrieval/chunks/{id}/neighbors:
    get:
      summary: Adjacent context for a retrieved chunk (previous/next)
      description: Context expansion — separate from ranked evidence. Same asset authorization as search.
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200":
          description: Previous/next chunk excerpts with evidence spans (null at book edges)
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/answers:
    post:
      summary: Ask a grounded question (asynchronous)
      description: |
        Creates a grounded answer run and returns 202 immediately: the
        pipeline (intent classification → bounded evidence retrieval →
        structured generation → independent per-claim verification) takes
        minutes on the local CPU model. Poll the returned resource; the
        `status` field is REAL persisted job state.

        Scope is fail-closed: any unknown or unauthorized book ULID makes
        the whole request 403 (indistinguishably). Omitting `scope` means
        every book the user can read. Provider/model selection is server
        configuration — never a request field.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question]
              properties:
                question: { type: string, minLength: 3, maxLength: 2000 }
                scope:
                  type: object
                  properties:
                    book_asset_ids:
                      type: array
                      maxItems: 100
                      items: { type: string, description: BookAsset ULID }
                conversation_id: { type: [string, "null"], description: Continue an owned conversation }
      responses:
        "202":
          description: Answer run accepted and queued
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id: { type: string, description: Answer ULID }
                      status: { type: string, enum: [queued] }
                      conversation_id: { type: string }
                      url: { type: string, description: Polling URL }
        "403": { description: "error.code SCOPE_NOT_ACCESSIBLE | CONVERSATION_NOT_ACCESSIBLE" }
        "409": { description: "error.code RETRIEVAL_INACTIVE — no active retrieval generation" }
        "422": { description: "Validation error, or error.code QUESTION_EMPTY | SCOPE_EMPTY" }
        "429": { description: "Throttle, or error.code TOO_MANY_ACTIVE_ANSWERS (per-user active-run cap)" }

  /v1/answers/{id}:
    get:
      summary: Poll / read a grounded answer
      description: |
        Owner or admin only. Terminal statuses: `ready` (outcome answered
        or partially_answered), `insufficient` (outcome
        insufficient_evidence — a SUCCESSFUL honest state, not an error)
        and `failed` (error_code set, e.g. GENERATOR_TIMEOUT,
        VERIFIER_UNAVAILABLE, GENERATOR_INVALID_OUTPUT). Claims are ONLY
        the verified ones; rejected claims are counted, never displayed.
        Admins may pass `debug=1` for full diagnostics.
      parameters:
        - { $ref: "#/components/parameters/ulid" }
        - { name: debug, in: query, schema: { type: boolean }, description: Admin-only diagnostics }
      responses:
        "200":
          description: Current answer state
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/GroundedAnswer" }
        "403": { description: "error.code ANSWER_NOT_ACCESSIBLE" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/answers/{id}/evidence/{evidenceKey}:
    get:
      summary: One evidence unit of an answer (source panel detail)
      parameters:
        - { $ref: "#/components/parameters/ulid" }
        - { name: evidenceKey, in: path, required: true, schema: { type: string }, description: "Opaque key (E1, E2, ...)" }
      responses:
        "200":
          description: Durable evidence snapshot with exact provenance
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AnswerCitation" }
        "403": { description: "error.code ANSWER_NOT_ACCESSIBLE" }
        "404": { description: "error.code EVIDENCE_NOT_FOUND" }

  /v1/conversations:
    get:
      summary: List the authenticated user's conversations (most recent first)
      responses:
        "200":
          description: Conversation summaries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string }
                        title: { type: [string, "null"] }
                        last_activity_at: { type: [string, "null"], format: date-time }

  /v1/conversations/{id}:
    get:
      summary: Conversation transcript
      description: |
        User turns carry `content`; assistant turns embed the referenced
        grounded answer (`answer`, same shape as GET /v1/answers/{id}) —
        assistant messages have no free-form prose of their own.
        Conversation history is referential context only and is NEVER
        used as evidence for later answers.
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200": { description: Ordered messages with embedded answers }
        "403": { description: "error.code CONVERSATION_NOT_ACCESSIBLE" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/admin/submissions:
    get:
      summary: "[admin] List all submissions"
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [pending_approval, approved, rejected, cancelled] } }
        - { name: cursor, in: query, schema: { type: string } }
        - { name: per_page, in: query, schema: { type: integer, maximum: 100 } }
      responses:
        "200": { description: Cursor-paginated submissions }
        "403": { $ref: "#/components/responses/Forbidden" }

  /v1/admin/submissions/{id}/approve:
    post:
      summary: "[admin] Approve a pending submission and queue ingestion"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200": { description: Approved; run queued }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/submissions/{id}/reject:
    post:
      summary: "[admin] Reject a pending submission"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 1000 }
      responses:
        "200": { description: Rejected }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/processing/overview:
    get:
      summary: "[admin] Real-time processing aggregates"
      responses:
        "200":
          description: Queue depths, stage distribution, counters
          content:
            application/json:
              example:
                data:
                  pending_approval: 2
                  runs: { queued: 1, running: 2, needs_review: 0, failed: 1, succeeded: 40, cancelled: 0 }
                  queue_depths: { normal: 1 }
                  stage_distribution: { parse: 2 }
                  oldest_queued_at: "2026-08-10T12:00:00Z"
                  ready_for_enrichment: 40
                  configured_concurrency: 2
                  pipeline_version: "1"

  /v1/admin/ingestion-runs:
    get:
      summary: "[admin] List ingestion runs"
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [queued, running, needs_review, failed, succeeded, cancelled] } }
        - { name: stage, in: query, schema: { type: string, enum: [hash, validate, parse, normalize, structure] } }
        - { name: priority, in: query, schema: { type: string, enum: [high, normal, low] } }
        - { name: cursor, in: query, schema: { type: string } }
      responses:
        "200": { description: Cursor-paginated runs }

  /v1/admin/ingestion-runs/{id}:
    get:
      summary: "[admin] Run detail with attempts and event timeline"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200":
          description: Full run detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/IngestionRun" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/admin/ingestion-runs/{id}/retry:
    post:
      summary: "[admin] Retry a failed or needs-review run from its blocked stage"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200": { description: Run requeued from the failed stage }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/ingestion-runs/{id}/cancel:
    post:
      summary: "[admin] Request cooperative cancellation"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200": { description: Cancellation flagged; honored at the next stage boundary }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/ingestion-runs/{id}/priority:
    patch:
      summary: "[admin] Change run priority (applies from the next stage boundary)"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [priority]
              properties:
                priority: { type: string, enum: [high, normal, low] }
      responses:
        "200": { description: Priority updated and audited }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/ingestion-runs/{id}/pause:
    post:
      summary: "[admin] Cooperative per-run pause"
      description: A running stage finishes safely; nothing further is dispatched until resume.
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200": { description: Run paused (audited) }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/ingestion-runs/{id}/resume:
    post:
      summary: "[admin] Resume a paused run from its durable checkpoint"
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      responses:
        "200": { description: Run requeued from the correct stage }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/ingestion-runs/{id}/mark-unsupported:
    post:
      summary: "[admin] Mark a failed/needs-review/paused book unsupported (skip)"
      description: |
        Terminal decision (audited, with optional reason): run becomes
        `skipped`, asset becomes `unsupported`. A corrected file is
        submitted later as a NEW submission — immutable assets are never
        overwritten.
      parameters: [{ $ref: "#/components/parameters/ulid" }]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string, maxLength: 1000 }
      responses:
        "200": { description: Marked unsupported }
        "409": { $ref: "#/components/responses/Conflict" }

  /v1/admin/processing/pause:
    post:
      summary: "[admin] Pause ingestion globally"
      description: Persisted and audited; running stages finish safely, nothing new is dispatched.
      responses:
        "200": { description: "{data:{ingestion_paused:true}}" }

  /v1/admin/processing/resume:
    post:
      summary: "[admin] Resume ingestion globally and re-dispatch queued runs"
      responses:
        "200": { description: "{data:{ingestion_paused:false}}" }

components:
  securitySchemes:
    sanctum:
      type: http
      scheme: bearer
      description: Sanctum personal access token (or first-party session cookie).

  parameters:
    ulid:
      name: id
      in: path
      required: true
      schema: { type: string, pattern: "^[0-9a-z]{26}$" }

  responses:
    Unauthenticated:
      description: Not authenticated
    Forbidden:
      description: Authenticated but not allowed (e.g. non-admin on /admin)
    NotFound:
      description: Unknown public id
    ValidationError:
      description: Invalid input (Laravel validation error body)
    Conflict:
      description: Domain state does not allow the transition
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            error:
              code: SUBMISSION_NOT_PENDING
              message: Only pending submissions can be approved.
              details: {}

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string, description: "Stable machine-readable code (e.g. RUN_NOT_RETRYABLE)" }
            message: { type: string }
            details: { type: object }

    CursorMeta:
      type: object
      properties:
        path: { type: string }
        per_page: { type: integer }
        next_cursor: { type: [string, "null"] }
        prev_cursor: { type: [string, "null"] }

    Submission:
      type: object
      properties:
        id: { type: string, description: ULID }
        original_filename: { type: string }
        status:
          type: string
          enum: [pending_approval, approved, queued, processing, paused, needs_review, failed, completed, rejected, cancelled, unsupported]
          description: Merged display status (approval lifecycle + latest run)
        approval_status:
          type: string
          enum: [pending_approval, approved, rejected, cancelled]
        source_type: { type: string, enum: [upload, filesystem] }
        priority: { type: string, enum: [high, normal, low] }
        note: { type: [string, "null"] }
        rejection_reason: { type: [string, "null"] }
        is_exact_duplicate: { type: boolean }
        created_at: { type: string, format: date-time }
        run:
          type: [object, "null"]
          properties:
            id: { type: string }
            status: { type: string, enum: [queued, running, paused, needs_review, failed, succeeded, cancelled, skipped] }
            current_stage: { type: [string, "null"], enum: [hash, validate, parse, normalize, structure, null] }
            progress: { type: integer, minimum: 0, maximum: 100, description: "Ingestion progress only — not full analysis" }
            error_code: { type: [string, "null"] }
        asset:
          type: [object, "null"]
          properties:
            id: { type: string }
            sha256: { type: string }
            ingestion_status:
              type: string
              enum: [pending, processing, needs_review, failed, ready_for_enrichment, ready_for_enrichment_with_warnings, unsupported]
            epub_version: { type: [string, "null"] }

    EvidenceSpan:
      type: object
      description: |
        Exact provenance of a chunk region. canonical_* are Unicode
        codepoint offsets into the book's canonical text; utf16_* are
        UTF-16 code units (JavaScript reader semantics); chunk_* locate
        the same text inside the chunk excerpt. source_hash detects stale
        citations across artifact regenerations. Chunk characters covered
        by no span are synthetic separators — never source evidence.
      properties:
        source_node_id: { type: string }
        spine_index: { type: integer }
        href: { type: string }
        fragment: { type: [string, "null"] }
        node_type: { type: string }
        heading_path: { type: array, items: { type: string } }
        canonical_start: { type: integer }
        canonical_end: { type: integer }
        utf16_start: { type: integer }
        utf16_end: { type: integer }
        chunk_start: { type: integer }
        chunk_end: { type: integer }
        source_hash: { type: string }

    RetrievalResult:
      type: object
      properties:
        rank: { type: integer }
        chunk_id: { type: string, description: ULID }
        book_asset_id: { type: string, description: ULID }
        book:
          type: object
          properties:
            title: { type: string }
            work_title: { type: [string, "null"] }
        heading_path: { type: array, items: { type: string } }
        spine_index: { type: integer }
        excerpt: { type: string, description: source text only (≤700 chars, overlap prefix removed) }
        excerpt_truncated: { type: boolean }
        char_count: { type: integer }
        evidence_spans:
          type: array
          items: { $ref: "#/components/schemas/EvidenceSpan" }
        exact_matches:
          type: array
          description: present for exact/hybrid literal hits — offset-exact
          items:
            type: object
            properties:
              text: { type: string, description: equals the requested literal }
              chunk_start: { type: integer }
              chunk_end: { type: integer }
              canonical_start: { type: [integer, "null"] }
              canonical_end: { type: [integer, "null"] }
        scores:
          type: object
          description: admin debug only — component provenance; none of these are probabilities
          properties:
            exact_rank: { type: [integer, "null"] }
            lexical_rank: { type: [integer, "null"] }
            lexical_score: { type: [number, "null"] }
            dense_rank: { type: [integer, "null"] }
            dense_similarity: { type: [number, "null"] }
            rrf_score: { type: [number, "null"] }
            rerank_score: { type: [number, "null"] }

    IngestionRun:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [queued, running, paused, needs_review, failed, succeeded, cancelled, skipped] }
        current_stage: { type: [string, "null"] }
        priority: { type: string }
        progress: { type: integer }
        pipeline_version: { type: string }
        cancel_requested: { type: boolean }
        queued_at: { type: [string, "null"], format: date-time }
        started_at: { type: [string, "null"], format: date-time }
        finished_at: { type: [string, "null"], format: date-time }
        error_code: { type: [string, "null"] }
        error_message: { type: [string, "null"] }
        review_issues:
          type: array
          items:
            type: object
            properties:
              code: { type: string }
              severity: { type: string, enum: [hard_block, reviewable, warning] }
              message: { type: string }
              overrideable: { type: boolean, description: "Hard security blocks are never overrideable" }
        pipeline_stages:
          type: array
          description: |
            Derived per-stage execution facts (detail responses). `reused`
            means the stage did not run because an exact-duplicate run
            reused the existing asset's results; `not_executed` means the
            run ended before reaching the stage. Never inferred from the
            run status alone.
          items:
            type: object
            properties:
              stage: { type: string, enum: [hash, validate, parse, normalize, structure] }
              execution_status:
                type: string
                enum: [succeeded, failed, needs_review, running, cancelled, reused, not_executed, pending]
              attempts: { type: integer }
              duration_ms: { type: [integer, "null"] }
        warnings_summary:
          type: array
          description: |
            Unique warnings aggregated across stages (detail responses):
            one entry per warning code with the stages it was seen in and
            bounded context details (e.g. affected document hrefs). Raw
            per-stage warning events remain in `events`.
          items:
            type: object
            properties:
              code: { type: string }
              message: { type: string }
              stages: { type: array, items: { type: string } }
              occurrences: { type: integer }
              details: { type: object }
        duplicate:
          type: [object, "null"]
          description: Present when the run's submission was an exact duplicate.
          properties:
            reused_asset:
              type: object
              properties:
                public_id: { type: string }
                ingestion_status: { type: string }
                original_filename: { type: string }
            disposition:
              type: [string, "null"]
              enum: [ready, unsupported, failed, waiting, null]
        attempts:
          type: array
          items:
            type: object
            properties:
              stage: { type: string }
              attempt: { type: integer }
              status: { type: string }
              handler_version: { type: [string, "null"] }
              duration_ms: { type: [integer, "null"] }
              error_code: { type: [string, "null"] }
        events:
          type: array
          items:
            type: object
            properties:
              type: { type: string, description: "e.g. run.queued, stage.completed, run.needs_review" }
              payload: { type: [object, "null"] }
              created_at: { type: string, format: date-time }

    GroundedAnswer:
      type: object
      description: |
        A grounded answer run. Every claim shown is VERIFIED by the
        independent verifier and carries an epistemic label — the only
        confidence representation (there are no probabilities/percentages).
      properties:
        id: { type: string, description: ULID }
        status:
          type: string
          enum: [queued, retrieving, expanding_retrieval, generating, verifying, ready, insufficient, failed]
          description: Real persisted pipeline state (poll this)
        outcome:
          type: [string, "null"]
          enum: [answered, partially_answered, insufficient_evidence, null]
          description: Terminal answer semantics (insufficient_evidence is a successful honest state)
        question: { type: string }
        conversation_id: { type: [string, "null"] }
        intent:
          type: [string, "null"]
          enum: [point_lookup, local_explanation, global_summary, longitudinal, comparative_multi_book, quote_location, tricky_inference, null]
        capability_notice:
          type: [string, "null"]
          description: "Set for intents beyond honest M3 coverage (e.g. LIMITED_GLOBAL_SUMMARY_SUPPORT): the answer is bounded evidence, not full-book analysis"
        retrieval_expanded: { type: boolean, description: whether the single bounded retrieval expansion ran }
        claims:
          type: array
          items: { $ref: "#/components/schemas/AnswerClaim" }
        rejected_claim_count: { type: integer, description: generator claims rejected by the verifier (never displayed) }
        citations:
          type: array
          items: { $ref: "#/components/schemas/AnswerCitation" }
        scope:
          type: array
          items:
            type: object
            properties:
              book_asset_id: { type: string }
              title: { type: [string, "null"] }
        skipped_assets:
          type: array
          items: { type: string }
          description: authorized books not indexed in the answer's generation (never silently partial)
        error_code: { type: [string, "null"], description: "Terminal failures: GENERATOR_TIMEOUT | GENERATOR_UNAVAILABLE | GENERATOR_INVALID_OUTPUT | VERIFIER_TIMEOUT | VERIFIER_UNAVAILABLE | VERIFIER_INVALID_OUTPUT | RETRIEVAL_UNAVAILABLE | ANSWER_JOB_FAILED | ANSWER_PIPELINE_ERROR" }
        created_at: { type: [string, "null"], format: date-time }
        completed_at: { type: [string, "null"], format: date-time }

    AnswerClaim:
      type: object
      properties:
        key: { type: string, description: "CL1, CL2, ..." }
        text: { type: string, description: Verified claim text (plain text — render as text, never HTML) }
        label:
          type: [string, "null"]
          enum: [textual_fact, strong_inference, interpretation, conflict, null]
          description: Final epistemic label DECIDED BY THE VERIFIER
        label_user: { type: [string, "null"], description: "Italian user label: Fatto testuale / Deduzione forte / Interpretazione / Contraddizione rilevata" }
        citations:
          type: array
          items: { type: integer }
          description: Server-assigned citation numbers (first-appearance order; conflict claims cite ALL disagreeing sources)

    AnswerCitation:
      type: object
      description: |
        Durable evidence snapshot: resolves through canonical source
        coordinates, never through retrieval chunks — historical answers
        stay auditable after retrieval generations are superseded.
      properties:
        number: { type: [integer, "null"], description: citation number (null for uncited packet units in admin views) }
        evidence_key: { type: string, description: "Opaque packet key (E1, ...)" }
        book_asset_id: { type: [string, "null"], description: null when the book was removed }
        book_title: { type: [string, "null"] }
        work_title: { type: [string, "null"] }
        edition_label: { type: [string, "null"] }
        heading_path: { type: array, items: { type: string } }
        node_type: { type: [string, "null"] }
        spine_index: { type: integer }
        source_href: { type: [string, "null"] }
        source_fragment: { type: [string, "null"] }
        epub_cfi: { type: [string, "null"], description: never invented — null until M1 artifacts emit CFI; canonical coordinates are authoritative }
        canonical_start: { type: integer, description: codepoint offset in canonical source }
        canonical_end: { type: integer }
        excerpt: { type: string, description: EXACT bounded canonical slice (original source language — never translated) }
        stale: { type: boolean, description: fail-closed staleness against the CURRENT source }
        stale_reason:
          type: [string, "null"]
          enum: [CITATION_SOURCE_CHANGED, ASSET_REMOVED, null]
          description: when set, the exact source location can no longer be guaranteed and the reader will not highlight

security:
  - sanctum: []
